<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/api-internal-nlog.txt">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
    <variable name="LogHome" value="logs"/>
    <!-- the targets to write to -->
    <targets>
        <target xsi:type="File"
                name="allfile"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"
                fileName="${LogHome}/apiLogs.txt"
                archiveFileName="${LogHome}/Archive/apiLogs-${shortdate}.txt"
                maxArchiveFiles="10"
                archiveEvery="Day"
        />
        <target xsi:type="File"
                name="httpLogging"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"
                fileName="${LogHome}/apiHttpLogs.txt"
                archiveFileName="${LogHome}/Archive/apiHttpLogs-${shortdate}.txt"
                maxArchiveFiles="10"
                archiveEvery="Day"
        />
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <!--All logs, including from Microsoft-->
        <logger name="Microsoft.AspNetCore.HttpLogging.*" minlevel="Trace" writeTo="httpLogging" final="true"/>
        <logger name="*" minlevel="Warn" writeTo="allfile" />
        <!--Skip non-critical Microsoft logs and so log only own logs-->
        <logger name="Microsoft.*" maxlevel="Warn" final="true" />
        <!-- BlackHole without writeTo -->
    </rules>
</nlog>
